/data/
/venv/
/venv_dg/
/data_analyzers/machining_feature_recognizer/network_weights/weights.pt
/data_analyzers/machining_feature_localizer/network_weights/weights.pt
/data_analyzers/machining_time_estimator/network_weights/weights.pt

/machining_feature_recognizer/wandb/
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
data_generator/.idea/data_generator.iml
data_generator/.idea/inspectionProfiles/profiles_settings.xml
data_generator/.idea/inspectionProfiles/Project_Default.xml
data_generator/.idea/misc.xml
data_generator/.idea/modules.xml
data_generator/.idea/vcs.xml
data_generator/scripts/__pycache__/DataGenerator.cpython-36.pyc
data_generator/scripts/__pycache__/DataGenerator.cpython-38.pyc
data_generator/scripts/geometric_primitives/__pycache__/base_primitive.cpython-36.pyc
data_generator/scripts/geometric_primitives/__pycache__/base_primitive.cpython-38.pyc
data_generator/scripts/geometric_primitives/__pycache__/BlindHole.cpython-36.pyc
data_generator/scripts/geometric_primitives/__pycache__/BlindHole.cpython-38.pyc
data_generator/scripts/geometric_primitives/__pycache__/Chamfer.cpython-36.pyc
data_generator/scripts/geometric_primitives/__pycache__/Chamfer.cpython-38.pyc
data_generator/scripts/geometric_primitives/__pycache__/CircularBlindStep.cpython-36.pyc
data_generator/scripts/geometric_primitives/__pycache__/CircularBlindStep.cpython-38.pyc
data_generator/scripts/geometric_primitives/__pycache__/CircularEndPocket.cpython-36.pyc
data_generator/scripts/geometric_primitives/__pycache__/CircularEndPocket.cpython-38.pyc
data_generator/scripts/geometric_primitives/__pycache__/CircularThroughSlot.cpython-36.pyc
data_generator/scripts/geometric_primitives/__pycache__/CircularThroughSlot.cpython-38.pyc
data_generator/scripts/geometric_primitives/__pycache__/HorizontalCircularEndBlindSlot.cpython-36.pyc
data_generator/scripts/geometric_primitives/__pycache__/HorizontalCircularEndBlindSlot.cpython-38.pyc
data_generator/scripts/geometric_primitives/__pycache__/ORing.cpython-36.pyc
data_generator/scripts/geometric_primitives/__pycache__/ORing.cpython-38.pyc
data_generator/scripts/geometric_primitives/__pycache__/RectangularBlindSlot.cpython-36.pyc
data_generator/scripts/geometric_primitives/__pycache__/RectangularBlindSlot.cpython-38.pyc
data_generator/scripts/geometric_primitives/__pycache__/RectangularBlindStep.cpython-36.pyc
data_generator/scripts/geometric_primitives/__pycache__/RectangularBlindStep.cpython-38.pyc
data_generator/scripts/geometric_primitives/__pycache__/RectangularPassage.cpython-36.pyc
data_generator/scripts/geometric_primitives/__pycache__/RectangularPassage.cpython-38.pyc
data_generator/scripts/geometric_primitives/__pycache__/RectangularPocket.cpython-36.pyc
data_generator/scripts/geometric_primitives/__pycache__/RectangularPocket.cpython-38.pyc
data_generator/scripts/geometric_primitives/__pycache__/RectangularTroughSlot.cpython-36.pyc
data_generator/scripts/geometric_primitives/__pycache__/RectangularTroughSlot.cpython-38.pyc
data_generator/scripts/geometric_primitives/__pycache__/RectangularTroughStep.cpython-36.pyc
data_generator/scripts/geometric_primitives/__pycache__/RectangularTroughStep.cpython-38.pyc
data_generator/scripts/geometric_primitives/__pycache__/Round.cpython-36.pyc
data_generator/scripts/geometric_primitives/__pycache__/Round.cpython-38.pyc
data_generator/scripts/geometric_primitives/__pycache__/SixSidePassage.cpython-36.pyc
data_generator/scripts/geometric_primitives/__pycache__/SixSidePassage.cpython-38.pyc
data_generator/scripts/geometric_primitives/__pycache__/SixSidePocket.cpython-36.pyc
data_generator/scripts/geometric_primitives/__pycache__/SixSidePocket.cpython-38.pyc
data_generator/scripts/geometric_primitives/__pycache__/SlantedThroughStep.cpython-36.pyc
data_generator/scripts/geometric_primitives/__pycache__/SlantedThroughStep.cpython-38.pyc
data_generator/scripts/geometric_primitives/__pycache__/ThroughHole.cpython-36.pyc
data_generator/scripts/geometric_primitives/__pycache__/ThroughHole.cpython-38.pyc
data_generator/scripts/geometric_primitives/__pycache__/TriangularBlindStep.cpython-36.pyc
data_generator/scripts/geometric_primitives/__pycache__/TriangularBlindStep.cpython-38.pyc
data_generator/scripts/geometric_primitives/__pycache__/TriangularPassage.cpython-36.pyc
data_generator/scripts/geometric_primitives/__pycache__/TriangularPassage.cpython-38.pyc
data_generator/scripts/geometric_primitives/__pycache__/TriangularPocket.cpython-36.pyc
data_generator/scripts/geometric_primitives/__pycache__/TriangularPocket.cpython-38.pyc
data_generator/scripts/geometric_primitives/__pycache__/TriangularThroughSlot.cpython-36.pyc
data_generator/scripts/geometric_primitives/__pycache__/TriangularThroughSlot.cpython-38.pyc
data_generator/scripts/geometric_primitives/__pycache__/TwoSideThroughStep.cpython-36.pyc
data_generator/scripts/geometric_primitives/__pycache__/TwoSideThroughStep.cpython-38.pyc
data_generator/scripts/geometric_primitives/__pycache__/VerticalCircularEndBlindSlot.cpython-36.pyc
data_generator/scripts/geometric_primitives/__pycache__/VerticalCircularEndBlindSlot.cpython-38.pyc
data_generator/scripts/utils/__pycache__/CsgOperation.cpython-36.pyc
data_generator/scripts/utils/__pycache__/CsgOperation.cpython-38.pyc
data_generator/scripts/utils/__pycache__/MachiningFeature.cpython-36.pyc
data_generator/scripts/utils/__pycache__/MachiningFeature.cpython-38.pyc
data_generator/scripts/utils/__pycache__/MachiningFeatureLabels.cpython-36.pyc
data_generator/scripts/utils/__pycache__/MachiningFeatureLabels.cpython-38.pyc
machining_feature_localizer/.idea/inspectionProfiles/profiles_settings.xml
machining_feature_localizer/.idea/inspectionProfiles/Project_Default.xml
machining_feature_localizer/.idea/machining_feature_localizer.iml
machining_feature_localizer/.idea/modules.xml
machining_feature_localizer/.idea/vcs.xml
machining_feature_localizer/scripts/__pycache__/MachiningFeatureLocalizer.cpython-36.pyc
machining_feature_localizer/scripts/network_models/__pycache__/AgnNetwork.cpython-36.pyc
machining_feature_localizer/scripts/network_models/__pycache__/ArmaNetwork.cpython-36.pyc
machining_feature_localizer/scripts/network_models/__pycache__/ChebNetwork.cpython-36.pyc
machining_feature_localizer/scripts/network_models/__pycache__/DgcnNetwork.cpython-36.pyc
machining_feature_localizer/scripts/network_models/__pycache__/FeaStNetwork.cpython-36.pyc
machining_feature_localizer/scripts/network_models/__pycache__/GATNetwork.cpython-36.pyc
machining_feature_localizer/scripts/network_models/__pycache__/GATV2Network.cpython-36.pyc
machining_feature_localizer/scripts/network_models/__pycache__/GcNetwork.cpython-36.pyc
machining_feature_localizer/scripts/network_models/__pycache__/SageGnNetwork.cpython-36.pyc
machining_feature_localizer/scripts/utils/__pycache__/DataImporter.cpython-36.pyc
machining_feature_localizer/scripts/utils/__pycache__/HyperParameter.cpython-36.pyc
machining_feature_recognizer/.idea/inspectionProfiles/profiles_settings.xml
machining_feature_recognizer/.idea/inspectionProfiles/Project_Default.xml
machining_feature_recognizer/.idea/machining_feature_recognizer.iml
machining_feature_recognizer/.idea/misc.xml
machining_feature_recognizer/.idea/modules.xml
machining_feature_recognizer/.idea/vcs.xml
machining_feature_recognizer/scripts/__pycache__/MachiningFeatureRecognizer.cpython-36.pyc
machining_feature_recognizer/scripts/network_models/__pycache__/TestingNetwork.cpython-36.pyc
machining_feature_recognizer/scripts/network_models/__pycache__/TrainingNetwork.cpython-36.pyc
machining_feature_recognizer/scripts/utils/__pycache__/DataImporter.cpython-36.pyc
/machining_feature_localizer/.idea/.gitignore
/.idea/.gitignore
/data_generator/.idea/.gitignore
/machining_feature_recognizer/.idea/.gitignore
.idea/workspace.xml~


# dependencies
user_interface/.next/
user_interface/node_modules/
user_interface/.env.local
